<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>QRCode</string>
	<string>PDF417</string>
	<string>Aztec</string>
	<string>EAN8</string>
	<string>EAN13</string>
	<string>Code39</string>
	<string>Code39Mod43</string>
	<string>Code93</string>
	<string>Code128</string>
	<string>UPCE</string>
</array>
</plist>
