<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>QRCode</key>
        <string>常用的條碼類型</string>
        <key>PDF417</key>
        <string>常用於飛機票驗證</string>
        <key>Aztec</key>
        <string>與QRCode雷同的條碼</string>
        <key>EAN8</key>
        <string>用於一般市面商品</string>
        <key>EAN13</key>
        <string>用於書本(ISBN)或一般商品</string>
        <key>Code39</key>
        <string>包含0-9 A-Z的條碼</string>
        <key>Code39Mod43</key>
        <string>與Code39相似</string>
        <key>Code93</key>
        <string>與Code39相似</string>
        <key>Code128</key>
        <string>與Code93相似</string>
        <key>UPCE</key>
        <string>萬用條碼0~9</string>
    </dict>
</plist>
